<div
  class="bg-white fixed top-0 bottom-0 shadow-custom w-[200px] z-10 md:z-50 mt-[70px] md:mt-0 transition-all duration-300"
  [ngClass]="{ showSidebar: currentStateSideBar }"
  id="sidebar"
>
  <div class="flex items-center justify-center my-5">
    <H1 class="text-2xl font-semibold text-green-600">Gestor</H1>
  </div>
  <hr />
  <div class="p-4">
    <div>
      <div class="flex items-center gap-2 p-1 pl-2 bg-slate-300 rounded-md">
        <i class="pi pi-book" style="font-size: 1rem"></i>
        <h5>Dashboards</h5>
      </div>
      <ul class="pl-5 mt-2">
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a
            routerLink="home"
            routerLinkActive="active"
            class="flex gap-2 items-center text-sm"
            (click)="toggleSidebar()"
          >
            <i class="pi pi-home" style="font-size: 1rem"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a
            routerLink="contas"
            routerLinkActive="active"
            class="flex gap-2 items-center text-sm"
            (click)="toggleSidebar()"
          >
            <i class="pi pi-wallet" style="font-size: 1rem"></i>
            <span>Contas</span>
          </a>
        </li>
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a
            routerLink="transacoes"
            routerLinkActive="active"
            class="flex gap-2 items-center text-sm"
            (click)="toggleSidebar()"
          >
            <i class="pi pi-arrow-right-arrow-left" style="font-size: 1rem"></i>
            <span>Transações</span>
          </a>
        </li>
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a
            class="flex gap-2 items-center text-sm"
            routerLink="produtos"
            routerLinkActive="active"
            (click)="toggleSidebar()"
          >
            <i class="pi pi-barcode" style="font-size: 1rem"></i>
            <span>Produtos</span>
          </a>
        </li>
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a
            class="flex gap-2 items-center text-sm"
            routerLink="caixa"
            routerLinkActive="active"
            (click)="toggleSidebar()"
          >
            <i class="pi pi-box" style="font-size: 1rem"></i>
            <span>Caixa</span>
          </a>
        </li>
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a
            class="flex gap-2 items-center text-sm"
            routerLink="calendar"
            routerLinkActive="active"
            (click)="toggleSidebar()"
          >
            <i class="pi pi-calendar" style="font-size: 1rem"></i>
            <span>Calendário</span>
          </a>
        </li>
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a
            class="flex gap-2 items-center text-sm"
            routerLink="clientes"
            routerLinkActive="active"
            (click)="toggleSidebar()"
          >
            <i class="pi pi-users" style="font-size: 1rem"></i>
            <span>Clientes</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="hidden md:block">
      <div class="flex items-center gap-2 p-1 pl-2 bg-slate-300 rounded-md">
        <i class="pi pi-key" style="font-size: 1rem"></i>
        <h5>Autenticação</h5>
      </div>
      <ul class="pl-5 mt-2">
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a
            class="flex gap-2 items-center text-sm"
            routerLink="profile"
            routerLinkActive="active"
            (click)="toggleSidebar()"
          >
            <i class="pi pi-user-edit" style="font-size: 1rem"></i>
            <span>Profile</span>
          </a>
        </li>
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a
            class="flex gap-2 items-center text-sm"
            routerLink="settings"
            (click)="toggleSidebar()"
          >
            <i class="pi pi-cog" style="font-size: 1rem"></i>
            <span>Settings</span>
          </a>
        </li>
        <li class="mb-2 p-1 hover:bg-[#d4d1d1]">
          <a class="flex gap-2 items-center text-sm">
            <i class="pi pi-sign-out" style="font-size: 1rem"></i>
            <button (click)="logout()">Logout</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
