<div class="pt-[75px] ml-[210px] mr-[10px]">
  <h5>Dashboards - Contas</h5>
  <div class="bg-slate-200 w-full p-3 rounded-md mt-3">
    <span class="font-semibold">Adicionar contas</span>
    <div class="mt-5">
      <form (ngSubmit)="onSubmit()" [formGroup]="contaForm">
        <div class="flex flex-col gap-2">
          <label for="nome">Nome</label>
          <input pInputText id="nome" formControlName="nome" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="valor">Valor</label>
          <p-inputnumber variant="filled" id="valor" formControlName="valor" />
        </div>
        <div class="flex flex-col gap-2">
          <label for="tipo">Tipo</label>
          <input pInputText id="tipo" formControlName="tipo" />
        </div>
        <div class="flex-auto">
          <label for="icondisplay" class="block mb-2"> Vencimento </label>
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            inputId="icondisplay"
            formControlName="vencimento"
          />
        </div>
        <button type="submit">Adicionar</button>
      </form>
    </div>
  </div>
</div>
