<div
  class="bg-slate-100 min-h-screen flex flex-col items-center justify-center"
>
  <div
    class="w-[20rem] border-[1px] border-solid border-gray-950 p-3 rounded-md"
  >
    <h1 class="text-center text-3xl font-semibold text-green-600 pt-5">
      Gestor
    </h1>
    <div>
      <div class="p-4">
        <div class="text-center mb-5">
          <h5>Bem vindo!</h5>
          <p class="text-sm">Efetue login ou crie uma nova conta</p>
        </div>
        <div>
          <form class="text-sm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
              <div class="flex flex-col">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  placeholder="Informe seu email"
                  formControlName="email"
                  class="inputs"
                />
              </div>
              <div class="h-5"></div>
            </div>
            <div>
              <div class="flex flex-col">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  placeholder="Digite uma senha"
                  formControlName="password"
                  class="inputs"
                />
              </div>
              <div class="h-5"></div>
            </div>
            <div>
              <button
                class="w-full bg-green-700 text-white py-2 rounded-md"
                type="submit"
              >
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center" *ngIf="loading">
      <div class="loader"></div>
    </div>

    <div>
      <div class="mt-4 text-center">
        <p>
          Criar conta?
          <a routerLink="/auth/signup" class="text-blue-500 underline">
            Signup</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
