<div>
  <div>
    <div>
      <div>
        <h5>Criar nova conta</h5>
        <p>Crie sua conta no Gestor gratuitamente</p>
      </div>
      <div>
        <form>
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email" />
          </div>
          <div>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username" />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" />
          </div>
          <div>
            <button>Criar conta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div>
    <div>
      <p>Ja possui uma conta? <a routerLink="/auth/login">Login</a></p>
    </div>
  </div>
</div>
