<div
  class="bg-white shadow-custom mx-5 px-5 py-2 w-[365px] positionModal rounded-md"
>
  <ul>
    <li class="listModalProfile">
      <i class="pi pi-user-edit" style="font-size: 1rem"></i>
      <a href="#">Profile</a>
    </li>
    <li class="listModalProfile">
      <i class="pi pi-cog" style="font-size: 1rem"></i>
      <a href="#">Settings</a>
    </li>
    <hr />
    <li class="listModalProfile mt-2">
      <i class="pi pi-sign-out" style="font-size: 1rem"></i>
      <a href="#">Logout</a>
    </li>
  </ul>
</div>
