<!-- <div class="my-4 p-3 rounded-lg border-[1px] border-solid border-gray-300">
  <div class="mb-6">
    <div
      class="border-[1px] border-solid border-gray-300 rounded-lg flex items-center gap-5 p-2"
    >
      <div
        class="flex items-center gap-2 bg-green-600 hover:bg-green-700 px-2 py-1 rounded-md text-white"
      >
        <i class="pi pi-plus" style="font-size: 0.8rem"></i>
        <button class="text-sm" (click)="showModal()">New</button>
      </div>
      <div
        class="flex items-center gap-2 bg-red-400 px-2 py-1 rounded-md text-white"
      >
        <i class="pi pi-trash" style="font-size: 0.8rem"></i>
        <button class="text-sm">Delete</button>
      </div>
    </div>
  </div>
  <div>
    <app-modal-adicionar></app-modal-adicionar>
  </div>
</div> -->
<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-6">
    <ng-template #start>
      <p-button
        label="New"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()"
      />
      <p-button
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        outlined
        (onClick)="deleteSelectedContas()"
        [disabled]="!selectedContas || !selectedContas.length"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="contas"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="[
      'Nome',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedContas"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template #caption>
      <div class="flex items-center justify-between">
        <h5 class="m-0">Gerenciar Contas</h5>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target, 'contains')"
            placeholder="Search..."
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="id" style="min-width: 16rem">
          ID
          <p-sortIcon field="id" />
        </th>
        <th pSortableColumn="nome" style="min-width: 16rem">
          Nome
          <p-sortIcon field="nome" />
        </th>
        <th>Image</th>
        <th pSortableColumn="valor" style="min-width: 8rem">
          Valor
          <p-sortIcon field="valor" />
        </th>
        <th pSortableColumn="tipo" style="min-width: 10rem">
          Tipo
          <p-sortIcon field="tipo" />
        </th>
        <th pSortableColumn="status" style="min-width: 12rem">
          Status
          <p-sortIcon field="status" />
        </th>
        <th pSortableColumn="status" style="min-width: 12rem">
          Vencimento
          <p-sortIcon field="status" />
        </th>
        <th style="min-width: 12rem"></th>
      </tr>
    </ng-template>
    <ng-template #body let-conta>
      <tr>
        <td style="width: 3rem">
          <p-tableCheckbox [value]="contas" />
        </td>
        <td style="min-width: 12rem">
          {{ conta._id }}
        </td>
        <td style="min-width: 16rem">{{ conta.nome }}</td>
        <td>NULL</td>
        <td>{{ conta.valor | currency : "R$" }}</td>
        <td>{{ conta.tipo | titlecase }}</td>
        <td>
          <p-tag [value]="conta.status" />
        </td>
        <td>{{ conta.vencimento | date : "dd/MM/yyyy" }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="editProduct(conta)"
          />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteMetodo(conta)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template #summary>
      <div class="flex items-center justify-between">
        In total there are {{ contas ? contas.length : 0 }} contas.
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="contaDialog"
    [style]="{ width: '450px' }"
    header="Adicionar Conta"
    [modal]="true"
  >
    <ng-template #content>
      <div class="flex flex-col gap-6">
        <div>
          <label for="name" class="block font-bold mb-3">Name</label>
          <input
            type="text"
            pInputText
            id="nome"
            [(ngModel)]="conta.nome"
            required
            autofocus
            fluid
          />
          <small class="text-red-500" *ngIf="submitted && !conta.nome"
            >Name is required.</small
          >
        </div>
        <div>
          <label for="description" class="block font-bold mb-3"
            >Description</label
          >
          <textarea
            id="description"
            pTextarea
            [(ngModel)]="conta.description"
            required
            rows="3"
            cols="20"
            fluid
          ></textarea>
        </div>

        <div>
          <label for="status" class="block font-bold mb-3">Status</label>
          <p-select
            [(ngModel)]="conta.inventoryStatus"
            inputId="inventoryStatus"
            [options]="statuses"
            optionLabel="label"
            placeholder="Select a Status"
            fluid
          />
        </div>
        <div>
          <label for="status" class="block font-bold mb-3">Tipo</label>
          <p-select
            [(ngModel)]="conta.tipo"
            inputId="inventoryStatus"
            [options]="statuses"
            optionLabel="label"
            placeholder="Select a Status"
            fluid
          />
        </div>

        <div>
          <span class="block font-bold mb-4">Setores</span>
          <div class="grid grid-cols-12 gap-4">
            <div class="flex items-center gap-2 col-span-6">
              <p-radiobutton
                id="category1"
                name="category"
                value="Accessories"
                [(ngModel)]="conta.tipo"
                disabled="true"
              />
              <label for="category1">Accessories</label>
            </div>
            <div class="flex items-center gap-2 col-span-6">
              <p-radiobutton
                id="category2"
                name="category"
                value="Clothing"
                [(ngModel)]="conta.category"
                disabled="true"
              />
              <label for="category2">Clothing</label>
            </div>
            <div class="flex items-center gap-2 col-span-6">
              <p-radiobutton
                id="category3"
                name="category"
                value="Electronics"
                [(ngModel)]="conta.category"
                disabled="true"
              />
              <label for="category3">Electronics</label>
            </div>
            <div class="flex items-center gap-2 col-span-6">
              <p-radiobutton
                id="category4"
                name="category"
                value="Fitness"
                [(ngModel)]="conta.category"
                disabled="true"
              />
              <label for="category4">Fitness</label>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-6">
            <label for="price" class="block font-bold mb-3">Price</label>
            <p-inputnumber
              id="price"
              [(ngModel)]="conta.valor"
              mode="currency"
              currency="USD"
              locale="en-US"
              fluid
            />
          </div>
          <div class="col-span-6">
            <label for="quantity" class="block font-bold mb-3">Quantity</label>
            <p-inputnumber
              id="quantity"
              [(ngModel)]="conta.quantity"
              fluid
              [disabled]="true"
            />
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #footer>
      <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
      <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
